@import '~antd/dist/antd.css';

body {
    font-family: Circular Std, Work Sans Medium, -apple-system, Helvetica Neue, sans-serif;
}

.App {
    text-align: center;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.header {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 15px;
    z-index: 1001;
    transition: height .3s;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #0D9549;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    cursor: pointer;
    margin: 0;
    font-weight: 400;
}

.subHeader {
    height: 50px;
    background-color: rgb(12, 111, 56);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.tabItem {
    width: 200px;
    height: 40px;
    border-radius: 5px 5px 0 0;
    background-color: white;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 16px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    height: 45px;
    border-radius: 3px;
    border: 1px solid #CCC;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    width: fit-content;
}


.addRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.hoverGrey:hover{
    background-color: #e2e2e2;
}

.ant-popover-inner-content{
    padding: 0;
    /*border: 1px solid #e2e2e2;*/
    /*border-radius: 15px;*/
}

.leftArrow{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
}
.RightOutlined{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.flexRow{
    display: flex;
    flex-direction: row;
    max-width: 200px;
}

.blueSelect .ant-select-selector{
    background-color: #3d9bff !important;
    color: white !important;
    font-weight: bolder;
}
.blueSelect .ant-select-arrow{
    color: white !important;
    font-weight: bolder;
}
